.pop-wrap {
  position: relative;
  top: 0;
  left: 0;
}

.nav__actions {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav__action {
  width: 18px;
  height: 25px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav__action svg {
  fill: #94A6BE;
}

._dark {
  display: none;
}

.header__logo img {
  width: 85px;
}

